@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

.weather-app {
  margin: 0 auto;
  border-radius: 30px;
  min-width: 750px;
  width: 900px;
  padding: 30px;
  background-color: slategray;
}

.weather-icon {
  margin: 0 auto;
  width: 200px;
  padding-left: 40px;
}

.forecast-icon {
  width: 50px;
}

.col-sm-2 {
  width: 145px;
}

.credits {
  color: white;
  margin: 0 auto;
  padding: 6px;
}

#creditsA { color: aqua; }